.video_track_container:first-child:nth-last-child(1) {
  width: 100%;
  height: 100%;
}

.video_track_container:first-child:nth-last-child(2),
.video_track_container:first-child:nth-last-child(2) ~ .video_track_container {
  width: 100%;
  height: 50%;
}

.video_track_container:first-child:nth-last-child(3),
.video_track_container:first-child:nth-last-child(3) ~ .video_track_container {
  width: 50%;
  height: 50%;
}

.video_track_container:first-child:nth-last-child(4),
.video_track_container:first-child:nth-last-child(4) ~ .video_track_container {
  width: 50%;
  height: 50%;
}

.video_track_container:first-child:nth-last-child(5),
.video_track_container:first-child:nth-last-child(5) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(6),
.video_track_container:first-child:nth-last-child(6) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(7),
.video_track_container:first-child:nth-last-child(7) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(8),
.video_track_container:first-child:nth-last-child(8) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(9),
.video_track_container:first-child:nth-last-child(9) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container {
  position: relative;
}

.video_section_container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

video {
  width: 98%;
  height: 98%;
  position: absolute;
  left: 1%;
}

.full_screen {
  position: fixed;
  width: 80%;
  height: 80%;
  top: 10%  ;
  left: 10%;
  z-index: 1000;
}

.audio-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}